@header-height: 60px;
@mk-header-bg-color: #080731;
@nav-width: 220px;
@footer-height: 40px;

@mk-black: #323233;
@mk-primary: #f55f33;
@mk-blue: #1989fa;
@mk-green: #4fc08d;
@mk-gray: #34495e;
@mk-light-gray: #f1f4f8;

@mk-doc-black: @mk-black;
@mk-doc-text-color: @mk-gray;
@mk-doc-code-background-color: @mk-light-gray;
@mk-doc-blue: @mk-blue;
@mk-doc-green: @mk-green;
@mk-doc-code-font-family: 'Source Code Pro', 'Monaco', 'Inconsolata', monospace;
@mk-doc-border-radius: 20px;

@mk-screen-max-width: 1024px;
