.content {
  flex: 1;
  padding: 16px 24px;
  background-color: #f7f8fa;
  display: flex;
  transition: all 0.3s linear;
}

@media screen and (max-width: @mk-screen-max-width) {
  .content {
    flex-direction: column-reverse;
    max-width: 100%;
  }
}
