.preview {
  width: 375px;
  height: 667px;
  background-color: #fff;
  border-radius: @mk-doc-border-radius;
  position: sticky;
  top: 10px;
  overflow: hidden;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.banner {
  width: 100%;
  height: 180px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}
