.preview {
  width: 375px;
  height: 667px;
  background-color: #fff;
  border-radius: @mk-doc-border-radius;
  position: sticky;
  top: 10px;
  overflow: hidden;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin-left: 24px;
  margin-top: 78px;
  box-shadow: 2px 2px 8px 0 rgba(0, 21, 41, 0.08);
}

@media screen and (max-width: @mk-screen-max-width) {
  .preview {
    max-width: 100%;
    top: 0;
    position: relative;
    margin-left: 0;
    margin-top: 0;
  }
}

.banner {
  width: 100%;
  height: 180px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}
