.activeClass {
  border-right-color: @mk-primary !important;
  color: @mk-primary !important;
  background-color: #eee;
}

.title {
  color: @mk-black;
  font-size: 15px;
  font-weight: 600;
  padding: 16px;
  margin-bottom: 0;
}

.group {
  margin-bottom: 16px;
}

.nav {
  width: @nav-width;
  border-right: 1px solid #eee;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      a {
        text-decoration: none;
        display: block;
        padding: 8px 16px;
        border-right-width: 2px;
        border-right-style: solid;
        border-right-color: transparent;
        color: @mk-gray;
      }
    }
  }
}
