.demo-btn {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 305px;
  top: 500px;
  background-color: red;
  background-size: 100% 100%;
  border-radius: 50%;
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  line-height: 120px;
}

.demo-container {
  position: relative;
  top: -100px;
  // box-shadow: 0 8px 12px #ebedf0;
  transform: scale(0.5);
}
