@import '../../shared/style/index.less';

.mk {
  &-turnCard {
    &_cardNum {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    &_cardBox {
      position: relative;
    }

    &_card {
      .bg();
    }

    &_cardAni {
      animation: turn 0.2s linear 0s forwards;

      @keyframes turn {
        from {
          transform: rotateY(0);
        }

        to {
          transform: rotateY(90deg);
        }
      }
    }

    &_cardBack {
      .bg();

      top: 0;
      position: absolute;
      transform: rotateY(-90deg);
    }

    &_cardBackAni {
      animation: turn 0.2s linear 0s forwards;

      @keyframes turn {
        from {
          transform: rotateY(-90deg);
        }

        to {
          transform: rotateY(0);
        }
      }
    }
  }
}
