@import '../../shared/style/index.less';

.mk {
  &-turnCard {
    &_cardNum {
      width: 94%;
      height: 10%;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    &_cardBox {
      position: relative;
      margin-bottom: 10px;
    }

    &_card {
      .bg();
    }

    &_cardAni {
      animation: turn 0.2s linear 0s forwards;

      @keyframes turn {
        from {
          transform: rotateY(0);
        }

        to {
          transform: rotateY(90deg);
        }
      }
    }

    &_cardBack {
      .bg();

      top: 0;
      position: absolute;
      transform: rotateY(-90deg);
    }

    &_cardBackAni {
      animation: turn 0.2s linear 0s forwards;

      @keyframes turn {
        from {
          transform: rotateY(-90deg);
        }

        to {
          transform: rotateY(0);
        }
      }
    }

    &_item {
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      width: 80%;
      height: 60%;
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
  }
}
